<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>CV</title>
    <script language="javascript" src="angular.min.js"></script>
    <script language="javascript" src="script.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="StyleCSS.css" />
    <script language="javascript" src="xeditable.js"></script>
</head>
<body>
    <div ng-app="app" class="container" id= "header">
        <div   ng-controller="Ctrller" >
            <div class="col-sm-12" id="profile">
                <div class="col-sm-4" ng-repeat="i in myimage">
                    <img src="{{i.avartar}}" id="imgava" >
                </div>
                <div class="col-sm-8" id="infocanhan" >
                    <div ng-repeat="x in myData" id="info" >
                        <span id="name" href="#" editable-text="x.name" >{{x.name || "empty"}}</span><br/>
                        <span id="work" href="#" editable-text="x.work"  >{{x.work || "empty"}}</span><br/>
                        <span href="#" editable-text="x.major">Major: {{x.major || "empty"}}</span><br/>
                        <span href="#" editable-text="x.birthday">BirthDate: {{x.birthday || "empty"}}</span><br/>
                        <span href="#" editable-text="x.email">Email: {{x.email ||"empty"}}</span><br/>
                        <span href="#" editable-text="x.phone">Phone: {{x.phone ||"empty"}}</span><br/>
                        <span href="#" editable-text="x.country">Country: {{x.country ||"empty"}}</span>
                        <br/><br/>


                    </div>

                </div>



            </div>


            <div class="col-sm-12" id="sum1" ></div>
            <div class="col-sm-12" id="sum2">
                <label id="background" >Background</label>
                <div  class="col-sm-12" id="summary" ng-controller="CtrlSummary">
                    <div ng-repeat="i in myimage" class="imgsum1">
                        <img src="{{i.summary}}" id="imgsum"  />
                    </div>
                    <p class="para" >Summary</p>
                    <button  class="bt" ng-click="addItem()">+</button>
                    <div ng-repeat="j in mySummary" id="sumnd" >
                        <ul>
                            <li href="#" editable-text="j.summaryvalue"> {{j.summaryvalue ||"empty"}}</li>

                        </ul>
                    </div>
                    <br/><br/>

                </div>
                <hr>
                <div class="col-sm-12"  id="boderexp" ng-controller="CtrlExperience">
                    <br/><br/>
                    <div ng-repeat="i in myimage" class="imgsum1">
                        <img src="{{i.experience}}" id="imgexp"/>
                    </div>
                    <p class="para">Experience</p>
                    <button class="bt" ng-click="addItem()">+</button>
                    <br/><br/>
                    <div ng-repeat="j in myExperience">
                        <span id="expnd" href="#" editable-text="j.experience">{{j.experience ||"empty"}}</span>
                    </div>
                    <br/><br/>

                </div>


                <hr>
                <div class="col-sm-12" id="project" ng-controller="CtrlProject">
                    <br/><br/>
                    <div ng-repeat="i in myimage" class="imgsum1" >
                        <img src="{{i.project}}"id="imgpro"/>
                    </div>
                    <p class="para" >Project</p>
                    <button class="bt" ng-click="addItem()">+</button>

                    <ul ng-repeat="j in myproject" id="prond">
                        <li href="#" editable-text="j.project">{{j.project|| "empty"}}</li>

                    </ul>

                    <br/><br/>
                </div>
                <hr>
                <div class="col-sm-12" id="language" ng-controller="CtrlLanguage">
                    <br/><br/>
                    <div ng-repeat="i in myimage" class="imgsum1" >
                        <img src="{{i.language}}"id="imglan"/>
                    </div>
                    <p class="para">Language</p>
                    <button class="bt" ng-click="addItem()">+</button>
                    <div ng-repeat="j in myLanguage" id="lannd">
                        <li href="#" editable-text="j.language">{{j.language ||"empty"}}</li>
                    </div>
                    <br/><br/>
                </div>
                <hr>
                <div class="col-sm-12" id="skill" ng-controller="CtrlSkill">
                    <br/><br/>
                    <div ng-repeat="i in myimage" class="imgsum1" >
                        <img src="{{i.skill}}" id="imgskill"/>
                    </div>
                    <p class="para">Skill</p>
                    <button class="bt" ng-click="addItem()">+</button>
                    <p id="skillpar2">Top skill</p>
                    <ul ng-repeat="j in myskill" id="skillnd">
                        <li href="#" editable-text="j.skill">{{j.skill||"empty"}}</li>
                    </ul>

                    <br/><br/>
                </div>
                <div class="col-sm-12" id="education" ng-controller="CtrlEducation">
                    <br/><br/>
                    <div ng-repeat="i in myimage"class="imgsum1">
                        <img src="{{i.education}}" id="imgedu"/>
                    </div>
                    <p class="para">Education</p>
                    <button class="bt" ng-click="addItem()">+</button>
                    <ul ng-repeat="j in myeducation" id="edund">
                        <li href="#" editable-text="j.education">{{j.education||"empty"}}</li>

                    </ul>

                    <br/><br/>
                </div>
                <hr>

            </div>

        </div>

    </div>
</body>
</html>